/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Raleway';
}

h1, h2, h3 { color: #7bcec9; }

.jumbotron { margin-bottom: 0; }

a:hover, a:active, a:focus, a:visited { text-decoration: none; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.flex-container.flex-container--center { justify-content: center; }
.flex-container.flex-container--bottom { justify-content: flex-end; }

.flex-container__item--center { align-self: center; }
.flex-container__item--bottom { align-self: flex-end; }
.flex-container__item--bottom-right { align-self: flex-end; justify-self: right; }


.dash-menu {
  margin: 1.5rem 0;
}
.dash-menu__item {
  background-color: #68c7c1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  font-size: 1.2em;
  margin: 10px 30px;
}
.dash-menu__item--round {
  border-radius: 50%;
}

.dash-menu__item.router-link-active { border: 10px solid #a0dcd8; }

.dash-menu__item:hover,
.dash-menu__item.router-link-active:hover { color: #68c7c1; background-color: #565656; border: 0px; }

.dash-menu__item:hover i,
.dash-menu__item:active i { display: none; }

.dash-menu__item--about i:after { font-family: "Material Icons"; content: "\e7ff"; }
.dash-menu__item--works i:after { font-family: "Material Icons"; content: "\e86f"; }
.dash-menu__item--contacts i:after { font-family: "Material Icons"; content: "\e0c9"; }

.dash-menu__item--about:hover:after { content: 'About Me'; }
.dash-menu__item--works:hover:after { content: 'My Works'; }
.dash-menu__item--contacts:hover:after { content: 'Contact Me'; }


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.featurette { margin: 2rem 0; }


// small & extra small devices
@media (max-width: 767px) {
  .dash-menu__item { width: 100px; height: 100px; }
}
// medium devices
@media (max-width: 991px) {
  .dash-menu__item { width: 120px; height: 120px; }
}
// large devices
@media (min-width: 992px) {
  .dash-menu__item { width: 140px; height: 140px; }
}
